# 1.列表的定义

  列表是有序集合，没有固定大小，能够保存**任意数量**，**任意类型**的Python对象，语法为\[元素1，元素2，..., 元素n\]
1. 关键点是中括号和逗号
2. 中括号把所有元素绑在一起，逗号把每个元素一一分开

# 2.列表的创建

### 创建一个普通列表

In [1]:
x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
print(x, type(x))

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] <class 'list'>

### 利用range()创建列表

In [3]:
x = list(range(1, 10, 3))
print(x, type(x))

[1, 4, 7] <class 'list'>

### 利用推导式创建列表

In [4]:
x = [0] * 5
print(x, type(x))

[0, 0, 0, 0, 0] <class 'list'>

In [5]:
x = [0 for i in range(5)]
print(x, type(x))

[0, 0, 0, 0, 0] <class 'list'>

In [7]:
x = [i for i in range(1, 50, 3) if i % 2 != 0]
print(x, type(x))

[1, 7, 13, 19, 25, 31, 37, 43, 49] <class 'list'>

### 创建一个4\*3的二维数组

In [8]:
x = [[1, 2, 3], [4, 5, 6], [7, 8, 9], [0, 0, 0]]
print(x, type(x))

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [0, 0, 0]] <class 'list'>

In [9]:
for i in x:
    print(i, type(i))

[1, 2, 3] <class 'list'>
[4, 5, 6] <class 'list'>
[7, 8, 9] <class 'list'>
[0, 0, 0] <class 'list'>

由此可见，二维数组本质上是一个列表，其所有元素均为大小相等的列表

In [10]:
x = [[0 for col in range(3)] for row in range(4)]
print(x, type(x))

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]] <class 'list'>

- 用 col 和 row 分别遍历列和行

由于list的元素可以是任何对象，因此列表中所保存的是对象的指针，即使保存一个简单的\[1,2,3\],也有三个指针和三个整数对象。  
下面这个例子可以说明：

In [13]:
x = [[0] * 3] * 4
print(x, type(x))

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]] <class 'list'>

In [14]:
x[0][0] = 1
print(x, type(x))

[[1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0]] <class 'list'>

# 3.向列表中添加元素

### list.append(obj) 在列表末尾添加新的对象，只接受一个参数，此参数可以为任意数据类型

In [16]:
x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
x.append('Saturday')
print(x, len(x))

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] 6

**需要注意的是，如果obj为一个列表，那么新增的对象也为一个列表**

In [17]:
x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
x.append(['Saturday', 'Sunday'])
print(x, len(x))

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', ['Saturday', 'Sunday']] 6

### list.extend(seq) 在列表末尾一次性追加另一个序列中的多个值，(用新列表扩展原来的列表)

In [18]:
x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
x.extend(['Saturday', 'Sunday'])
print(x, len(x))

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] 7

### list.insert(index, obj) 在编号index位置前插入obj

In [20]:
x = ['Monday', 'Wednesday', 'Thursday', 'Friday']
x.insert(1, 'Tuesday')
print(x, len(x))

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] 5

# 4.删除列表中的元素

### list.remove(obj) 移除列表中某个值的**第一个**匹配项

In [22]:
x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday']
x.remove('Monday')
print(x, len(x))

['Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday'] 5

### list.pop(\[index=-1\])移除列表中的一个元素，默认最后一个元素，并且返回该元素的值

In [23]:
x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
y = x.pop()
print(x, len(x))
print(y)

['Monday', 'Tuesday', 'Wednesday', 'Thursday'] 4
Friday

In [24]:
y = x.pop(0)
y

'Monday'

In [25]:
y = x.pop(-2)
y

'Wednesday'

In [26]:
x

['Tuesday', 'Thursday']

### del var1\[, var2 ......\] 删除单个或多个对象

In [27]:
x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
del x[0:2]
print(x, len(x))

['Wednesday', 'Thursday', 'Friday'] 3

# 5.获取列表中的元素

1. 通过元素的索引值，从列表中获取单个元素，注意，列表索引从0开始  
2. 通过将索引指定为-1，可让Python返回最后一个列表元素，索引-2返回倒数第二个列表元素，以此类推

### 索引

In [29]:
x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
print(x[0], type(x[0]))
print(x[-1], type(x[-1]))
print(x[-2], type(x[-2]))

Monday <class 'str'>
Friday <class 'str'>
Thursday <class 'str'>

### 切片
**通用写法 start: stop: step**

##### 情况1 - "start:"
step为1(默认)，从编号start往列表尾部切片

In [30]:
x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
print(x[3:])
print(x[-3:])

['Thursday', 'Friday']
['Wednesday', 'Thursday', 'Friday']

##### 情况2 - ":stop"
step为1(默认)从列表头部往编号stop切片

In [32]:
x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
print(x[:3])
print(x[:-3])

['Monday', 'Tuesday', 'Wednesday']
['Monday', 'Tuesday']

##### 情况3 - "start:stop"
step为1(默认)从编号start往编号stop切片

In [33]:
x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
print(x[1:3])
print(x[-3:-1])

['Tuesday', 'Wednesday']
['Wednesday', 'Thursday']

##### 情况4 - "start:stop:step"
以具体的step从编号start往编号stop切片。注意最后把step设置为-1，相当于将列表反向排列

In [34]:
x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
print(x[1:4:2])
print(x[:4:2])
print(x[1::2])
print(x[::-1])

['Tuesday', 'Thursday']
['Monday', 'Wednesday']
['Tuesday', 'Thursday']
['Friday', 'Thursday', 'Wednesday', 'Tuesday', 'Monday']

#####  情况5 - ":"
复制列表中的所有元素(浅拷贝)

In [35]:
week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
print(week[:])

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

称为浅拷贝的原因，见下例：

In [37]:
list1 = [123, 456, 789, 213]
list2 = list1
list3 = list1[:]
print(list2)
print(list3)

[123, 456, 789, 213]
[123, 456, 789, 213]

In [38]:
list1.sort() # 对list1重新排序
print(list2)
print(list3)

[123, 213, 456, 789]
[123, 456, 789, 213]

不难发现，当list1顺序改变时，list2顺序随之改变，list3的顺序却不随之改变

In [39]:
list1 = [[123, 456], [789, 213]]
list2 = list1
list3 = list1[:]
print(list2)
print(list3)

[[123, 456], [789, 213]]
[[123, 456], [789, 213]]

In [40]:
list1[0][0] = 111
print(list2)
print(list3)

[[111, 456], [789, 213]]
[[111, 456], [789, 213]]

当list1的某个元素发生变化时，list2和list3均发生了改变

# 6.列表的常用操作符
1. 等号操作符：==
2. 连接操作符：+
3. 重复操作符：*
4. 成员关系操作符 in, not in

### 等号操作符
- 只有成员，成员位置都相同时才返回True

In [42]:
list1 = [123, 456]
list2 = [456, 123]
list3 = [123, 456]

print(list1 == list3)
print(list1 == list2)

True
False

### 连接操作符

In [43]:
list4 = list1 + list2
list4

[123, 456, 456, 123]

In [45]:
list5 = list3 * 3
list5

[123, 456, 123, 456, 123, 456]

In [46]:
list3 *= 3
list3

[123, 456, 123, 456, 123, 456]

In [48]:
123 in list3

True

In [49]:
456 not in list3

False

# 7.列表的其他方法

### list.count(obj) 统计某个元素在列表中出现的次数

In [50]:
list3.count(123)

3

### list.index(x,\[, start[, end]\]) 从列表中找出某个值第一个匹配项的索引位置

In [51]:
list1 = [123, 456] * 3
print(list1.index(123))
print(list1.index(123, 1))
print(list1.index(123, 3, 7))

0
2
4

### list.reverse() 反向列表中元素

In [53]:
x = [123, 456, 789]
x.reverse()
x

[789, 456, 123]

### list.sort(key=None, reverse=False) 对原列表进行排序
1. key:主要是用来进行比较的元素，只有一个参数，具体的函数的参数就是取自于可迭代对象中，制定可迭代对象中的一个元素来进行排序
2. reverse:排序规则，reverse = True降序，reverse = False升序（默认）
3. 该方法无返回值，但会对列表的对象进行排序

In [54]:
x = [123, 456, 789, 213]
x.sort()
x

[123, 213, 456, 789]

In [55]:
x.sort(reverse=True)
x

[789, 456, 213, 123]